.element .fire{ text-shadow: 2px 2px 5px coral; }
.element .water{ text-shadow: 2px 2px 5px lightseagreen; }
.element .wind{ text-shadow: 2px 2px 5px rgb(46, 202, 46); }
.element .earth{ text-shadow: 2px 2px 5px rgb(165, 109, 35); }
.element .mirage{ text-shadow: 2px 2px 5px grey; }
.element .soul{ text-shadow: 2px 2px 5px rgb(87, 86, 86); }
.element .space{ text-shadow: 2px 2px 5px rgb(241, 237, 0); }
